html,body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;

    background-position: center;
    background-size:100% 100%;
    background-repeat: no-repeat;

}


#menu{
    float: left;
    height: 100%;
    width: 25%;
}

#game{
    float: left;
    height: 100%;
    width: 50%;
    padding: 2%;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 50px;

    
}
#controlContainer{
    float: left;
    height: 100%; 
    width: 25%;

}


#game-grid{
    height: 100%;
    width: 100%;

     display: grid;
     grid-gap: 4% 4%;
     grid-template-columns: auto auto auto auto auto;
 } 

.fieldButton{
    border: 2px solid black;
   
    border-radius: 50%;

    background-position: center;
    background-size: 80% 80%;

    background-repeat: no-repeat;
}


#startButton{
    
    height: 12%;
    width: 80%;
    
    margin: 44vh auto;
    
    box-sizing: border-box;
    border-radius: 50px;
    border: 3px solid black;
    
    text-align: center;
    line-height: 12vh;
    font-size: 2em;
}

#startButton:active{
    background: white;

}
















