html,body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;

    background-position: center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    
    overflow-y: hidden;
    overflow-x: hidden;
}

#gameContainer{
    float: left;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    opacity: 0.0;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
}

#game-grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 4% 4%;
    grid-template-columns: auto auto auto;
 } 

.fieldButton{
    box-sizing: border-box;
    /*border: 1px solid black;*/
   
    border-radius: 50%;

    background-position: center;
    background-size: 100% 100%;

    background-repeat: no-repeat;

    /* text-align: center center; */
    /* font-size: 2vh; */
}

#overlay{
    
    margin: 0;
    margin-top: -64.25px;
    height: 100%;
    width: 100%;
    
    position: absolute;

    
    
    background-color: none;
    
    animation-duration: 2s;
}

#overlayStartButton{
    width: 30vh; 
    height: 30vh;
    
    margin: 0 auto;
    position: relative;
    
    background-image: url('Assets/Player.png');
    
    display: block;
    
    animation-name: chickenDance;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
    background-position: center;
    background-size: 100% 100%;

    background-repeat: no-repeat;
}

#progressbar{
    width: 60vh;
    height: 3vh;
    border: solid 2px rgb(116,141,200);
    background-color: none;
    border-radius: 20px;
}

#bar{
    width: 30vh;
    height: 3vh;
    
    border-color: transparent;
    border-radius: 20px;

    background-color: rgb(116,141,200);
}

#text{
    
    position: absolute;
    background-color: none;
    text-align: center;
    text-align: right;
    color: #e0bdfc;
    
}

@keyframes buttonPuls{
    
    0% {transform: scale(1.0);}
    
    100%{transform: scale(1.1);}
    
}

@keyframes chickenDance{
    
    0%      {background-image: url('Assets/Animation/Player1.png');}
    
    16%     {background-image: url('Assets/Animation/Player2.png');}
    
    32%     {background-image: url('Assets/Animation/Player3.png');}
    
    48%     {background-image: url('Assets/Animation/Player4.png');}
    
    64%     {background-image: url('Assets/Animation/Player5.png');}
    
    80%    {background-image: url('Assets/Animation/Player6.png');}
    
    
}

@keyframes fadeOut{
    0% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

@keyframes fadeIn{
    0% {opacity: 0.0;}
    100% {opacity: 1.0;}
}












